*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 1140px;
  gap: 30px;
}


.title {
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  text-transform: uppercase;
  line-height: 94%;
  padding-bottom: 26px;
}

.content__accent {
  color: #545050;
}

.result__video-container {
  position: relative;
  height: 386px;
  width: 711px;
  margin-bottom: 16px;
}

.result__video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}


.content__details {
  height: 100%;
  width: 100%;
}

.content__list-container {
  position: relative;
  height: 298px;
  max-width: 100%;
  overflow: auto;                     /* - заменил overflow-y */
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-right: 6px;              /* - задал отсутп, так как ширина всей секции должна быть меньше как оказалось, а не только кнопки */
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__card-link:active {
  background-color: #545050;     /* - задал content__card-link:active*/
}

.content__card-link_current:hover {
  text-decoration: underline;
}

.content__card-link_current:focus {
  text-decoration: none;
}

.content__card-link_current:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 103px;
}

.content__video-card-description-container {
  width: 196px;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif; 
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.content__video-card-description {
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.content__video-card-thumbnail {
  min-width: 194px;
  max-width: 194px;
  height: 100%;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__textfield {
  font-family: 'Fira Sans Condensed', sans-serif;    /* - задал шрифт для поля ввода */
  font-size: 18px;
  line-height: 100%;
  appearance: none;
  border: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  color: #fff;
  background: transparent;
  width: 225px;                                     /* - установил ширину для поля ввода */
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 6px;
}

.search-form__textfield::placeholder {
  font-family: inherit;
  color: rgb(255 255 255 / 0.7);
  
}

.search-form__fieldset {
  border: none;
  
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  padding: 1px;
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: white;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__checkbox-list
  .search-form__label:hover
  > .search-form__label-text {
  text-decoration: underline;
}

.button {
  border: 1px solid #fff;
  background-color: transparent;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.search-form__submit-button {
  color: #fff;
  padding: 6px 73.5px;
  align-self: flex-end;
}

.more-button {
  color: #fff;
  padding: 6px 140px;
  width: 100%;
  height: 34px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
}

a,
button,
label {
  cursor: pointer;
}
